<!-- views/products.ejs -->
<div class="flex justify-between p-5 flex-wrap gap-4">
    <%- include('./components/product')  %>
    <%- include('./components/product')  %>
    <%- include('./components/product')  %>
    <%- include('./components/product')  %>
    <%- include('./components/product')  %>
</div>
